
.loading span {
    font-family: Poppins-Regular;
    color: transparent;
    /* letter-spacing: 3px; */
    font-size: 1.2rem;
    position: relative;
    overflow: hidden;
}
  
.loading span::before {
    content: "Searching...";
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid white;
    overflow: hidden;
    color: white;
    animation: type 0.5s linear 1,
                blink 1s linear infinite;
    animation-fill-mode: forwards;
}

@keyframes type {
    0%, 10% {
        width: 0;
    }

    60%, 80%, 100% {
        width: 100%;
    }
}

@keyframes blink {
    0%,50%,100% {
        border-right-color: transparent;
    }

    1%,51% {
        border-right-color: white;
    }
};



/* @keyframes blink {
    0%,20%,40%,60%,80%,100% {
        border-right-color: transparent;
    }

    1%,21%,41%,61%,81% {
        border-right-color: white;
    }
} */

/* @keyframes blink {
    10%,20%,30%,40%,50%,60%,70%,80%,90%,99% {
        border-right-color: transparent;
    }

    11%,21%,31%,41%,51%,61%,71%,81%,91%, 100% {
        border-right-color: white;
    }

    
} */


/* 
.spinner {
    background-image: linear-gradient(rgb(186, 66, 255) 35%,rgb(0, 225, 255));
    background-image: linear-gradient(rgb(186, 66, 255) 35%, #3b82f6 );
    width: 100px;
    height: 100px;
    animation: spinning82341 1.7s linear infinite;
    text-align: center;
    border-radius: 50px;
    filter: blur(1px);
    box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px rgb(0, 225, 255);
      box-shadow: 0px -5px 20px 0px rgb(186, 66, 255), 0px 5px 20px 0px #3b82f6;
}
  
  
.spinner1 {
    background-color: rgb(36, 36, 36);
    width: 100px;
    height: 100px;
    border-radius: 50px;
    filter: blur(10px);
} 

@keyframes spinning82341 {
    to {
        transform: rotate(360deg);
    }
};

*/


